{% extends 'base.html.twig' %}

{% block title %}Comparator{% endblock %}

{% block main %}

{# {% for element in elements %}
    {{ dump(element.value) }}
{% endfor %} #}

{{ dump(shipping) }}


<div>{{ title }}</div>
<div>{{ shipping }}</div>

{% endblock %}
