<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RMCompare{% endblock %}</title>
        {% block stylesheets %}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	{# style particulier à ajouter en plus des valeurs bootstrap par défaut #}
	<link rel="stylesheet" href="/css/styles.css">
	{% endblock %}
    </head>
    
    {% block header %}
    <header>
    </header>
    {% endblock %}
    
    
    <body id={% block body_id %}{% endblock %}>
    
	    {% block body %}
   
            {% block main %}MAIN{% endblock %} {# main #}

	    {% endblock %} {# body #}

	    {% block footer %}
			<footer class="footer-section section bg-ivory">
      			<div class="container">
       				 <p class="m-0 text-center">Copyright Hocine IDIR le bg</p>
      			</div>
			</footer>
	    {% endblock %} {# footer #}
	

	    {% block javascripts %}
			<script src="/js/bootstrap.min.js"></script>
	    {% endblock %} {# javascripts #}
	    {% block custompage_script %}
        {% endblock %} {# custompage_scripts #}
    </body>
</html>
